// fonts
$Roboto: 'Roboto', sans-serif;
$NotoSans: 'Noto Sans KR', sans-serif;

// colors
$main: #ffbc11;
$primary: #4051b5;
$secondary: #f44336;
$success: #8ac621;
$error: #ed4337;

$pastelYellow: #ffdc7c;
$pastelMint: #e4fde1;
$pastelCoral: #dd614a;
$pastelGraphfruit: #ff9b71;
$pastelGreen: #6ba292;

$snowWhite: #fafafa;
$white: #ffffff;

$darkLv1: #1b1b1b;
$darkLv2: #141414;
$darkLv3: #0f0c08;

$greyLv1: #999999;
$greyLv2: #777777;
$greyLv3: #555555;
$greyLv4: #333333;

$discordLogoBlue: #7289da;
$discordLogoBlack: #2a2d32;
$discordWebGrey: #99aab5;
$discordWebDark: #2c2f33;
$discordWebBlack: #23272a;

$boxEffect: 1px 1px 0px $greyLv1, 2px 2px 0px $greyLv1, 3px 3px 0px $greyLv1,
  4px 4px 0px $greyLv1, 5px 5px 0px $greyLv1, 6px 6px 0px $greyLv1,
  7px 7px 0px $greyLv1, 8px 8px 0px $greyLv1, 9px 9px 0px $greyLv1,
  10px 10px 0px $greyLv1, 11px 11px 0px $greyLv1;
